*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 10px;
    background: #e8e7ee;
    font-weight: 100;
    position: relative;
}

.bg-blur{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(8px);
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: .8;
    background-image: url(../img/fondo.jpeg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid{
    z-index: 1;
}

*{
    font-family: 'Lato', sans-serif;
}

button:disabled,
button[disabled]{
    opacity: .4;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    text-shadow: none;
}

.list-group{
    display: grid;
    grid-template-columns: 1fr;
    background: rgba(250, 250, 250, 0.822);
    text-overflow: ellipsis;
    color: #333333;
    padding: 1rem
}

.list-group-item{
    background-color: transparent;
    border: none;
    color: #333333;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .5rem;

    border-bottom: 1px solid #e8e7ee;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.list-group-item:last-of-type{
    border-bottom: none;
}

.list-group-item a{
    display: block;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item a:hover{
    opacity: .6;
    transition: opacity .5s;
}

.list-group-item .title::first-letter {
    text-transform: uppercase;
}

.list-group-item div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item div > a{
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .7;
}

.list-group-item h2{
    display: flex;
    gap: .5rem;
    font-weight: 400;
}

.list-group-item .icon{
    color: #e86e8d
}

.bookmark-create{
    padding: 1rem;
    background-color: white;
    border-radius: 3px;
}

.bookmark-create-form{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.bookmark-create-button{
    border: none;
    font-size: 1.5rem;
    background: transparent;
    min-width: 50px;
    color: #b3b3b3;
}

.bookmark-create-button:hover{
    cursor: pointer;
}

.bookmark-create-button:active{
    color: #e86e8d;
}

.bookmark-create-button:valid{
    color: pink;
}

.bookmark-create-button.error{
    color: black
}

.search-form{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.search-bar{
    padding: 0 1rem;
    background-color: white;
    border-radius: 3px;
}

.search-form button{
    border: none;
    font-size: 1.5rem;
    background: transparent;
    min-width: 50px;
    color: #b3b3b3;
}

.search-form button > .icon{
    display: block;
    transform: rotate(45deg);
}

.form-control{
    border: none;
    color: #b3b3b3;
}

.form-control:focus{
    color: inherit;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
    transition: all 1s;
}

.alert-warning{
    background-color: #e86e8d;
    color: white;
}

.delete-button{
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    align-self: center;
    color: #bfbebe;
}

.delete-button:active,
.delete-button:hover{
    color: black;
    transition: color 1s;
}

.no-results{
    text-align: center;
    background: rgba(250, 250, 250, 0.822);
    text-overflow: ellipsis;
    color: #333333;
    padding: 1rem;
    border-radius: .25rem;
}

@media (min-width: 768px){
    .list-group{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}